<footer>
    <div class="container">
        <div class="row">
            <section class="sec col-12 col-smd-6 col-lg-4 links">
                <h6 class="hx">دسترسی سریع:</h6>
                @*<a href="#">وب سایت بیمه تامین اجتماعی</a>
                <a href="#">وب سایت سازمان صدا و سیما</a>
                <a href="#">وب سایت کارگزاری بورس</a>
                <a href="#">خدمات مشتریان ما</a>*@
                <a asp-controller="home" asp-action="contactus">تماس با ما</a>
                <a href="#">سوالات متداول</a>
                @*<a asp-controller="home" asp-action="aboutus">درباره ما</a>
            <a asp-controller="home" asp-action="rules">قوانین و مقررات</a>*@
            </section>
            <!--<section class="sec col-12 col-smd-6 col-lg-3 links">
                <h6 class="hx">خدمات ما:</h6>
                <a href="#">بیمه درمان تکمیلی</a>-->
                @*<a href="#">بیمه بدنه</a>
                <a href="#">بیمه معلم</a>
                <a href="#">بیمه شخص ثالث</a>
                <a href="#">کارگزاری بیمه</a>
                <a href="#">بیمه تامین اجتماعی</a>
                <a href="#">بیمه خودرو</a>
                <a href="#">بیمه آتش سوزی</a>*@
            <!--</section>-->
            <section class="sec col-12 col-smd-6 col-lg-4 contact-info">
                <h6 class="hx">اطلاعات تماس:</h6>
                <a class="address">ما اینجا هستیم:</a>
                <p class="address"><i class="zmdi zmdi-pin-drop"></i>@Strings.AddressDetailsInfo</p>
                <p class="phone-numbers"><i class="zmdi zmdi-phone"></i>@Html.Raw(Strings.PhoneNumbersInfo)</p>
                @*<p class="sms"><i class="zmdi zmdi-comment-alt-text"></i>پیامک: 02186030731</p>*@
            </section>
            <section class="sec col-12 col-smd-6 col-lg-4 feed">
                <h6 class="hx">خبرنامه:</h6>
                <p>در صورتیکه تمایل دارید پیامک و آفرهای ما را دریافت کنید فرم زیر را تکمیل نمایید</p>
                <input id="input_feed" class="form-control" type="text" value="" placeholder="ادرس ایمیل" />
                <button id="btn_feed">
                    <i class="zmdi zmdi-check-circle"></i>
                    عضویت
                </button>
            </section>
        </div>
    </div>
    <div class="copy-right text-center">
        @Strings.CopyRights
    </div>
</footer>
<script>
        const urlPrefix = '@Configuration["UrlPrefix"]';
        const strings = {
            error: '@Html.Raw(Strings.Error)',
            success: "@Html.Raw(Strings.Success)",
            pleaseSelect: '@Html.Raw(Strings.PleaseSelect)',
            searchHere:'@Html.Raw(Strings.SearchHere)',
            thereIsNoResult: '@Html.Raw(string.Format(Strings.ThereIsNoRecord, Strings.Item))',
            yes: '@Html.Raw(Strings.Yes)',
            no: '@Html.Raw(Strings.No)',
            close: '@Html.Raw(Strings.Close)',
            AreYouSure: '@Html.Raw(Strings.AreYouSure)',
            unAuthorizedErrorMessage: "@Html.Raw(Strings.UnAuthorizedPageMessage)",
            signInUrl: "@Url.Action("SignIn","Auth")",
            searching: '@Html.Raw(Strings.Searching)',
            remove: '@Html.Raw(Strings.Remove)',
            dropzoneFileTooBig:'@Html.Raw(Strings.DropzoneFileIsTooBig)',
            fileFormatNotSupported: '@Html.Raw(Strings.FileFormatNotSupported)',
            cancel: '@Html.Raw(Strings.Cancel)',
            areYouSure: '@Html.Raw(Strings.AreYouSure)',
            dropYourFileHere:'@Html.Raw(Strings.DropYourFileHere)',
            dropYourFilesHere:'@Html.Raw(Strings.DropYourFilesHere)',
            cannotUploadAnyMoreFiles: "@Html.Raw(Strings.CannotUploadAnyMoreFiles)",
            Required: "@Html.Raw(Strings.Required)",
            remote: "@Html.Raw(Strings.FillFieldCorrectly)",
            email: "@Html.Raw(Strings.InvalidEmail)",
            url: "@Html.Raw(Strings.IncorrectUrl)",
            date: "@Html.Raw(Strings.IncorrectDate)",
            dateISO: "@Html.Raw(Strings.IncorrectDateISO)",
            number: "@Html.Raw(Strings.ValueMustBeNumber)",
            digits: "@Html.Raw(Strings.ValueMustBeDigit)",
            equalTo: "@Html.Raw(Strings.ValueNotMatched)",
            accept: "@Html.Raw(Strings.IncorrectFormat)",
            maxlength: "@Html.Raw(Strings.MaxLengthExeeded)",
            minlength: "@Html.Raw(Strings.MinLengthNotReached)",
            rangelength: "@Html.Raw(Strings.LenghIsNotInRange)",
            range: "@Html.Raw(Strings.ValueIsNotInRange)",
            max: "@Html.Raw(Strings.MaxValueExceeded)",
            min: "@Html.Raw(Strings.MinValueNotReached)"
        };


</script>

<partial name="Partials/_Modal" />
<environment include="Development">
    <script src="@Url.Content("~/Scripts/Libs/portal-libs.js")"></script>
    <script src="@Url.Content("~/Scripts/App/portal-app.js")" asp-append-version="true"></script>
</environment>
<environment include="Production ">
    <script src="@Url.Content("~/Scripts/Libs/portal-libs.min.js")"></script>
    <script src="@Url.Content("~/Scripts/App/portal-app.min.js")"  asp-append-version="true"></script>
</environment>