@model IList<MenuSPModel>
@{
    ViewBag.Title = "داشبورد کاربر";
}
@section styles{
    <link href="~/Styles/App/customize-template.min.css" rel="stylesheet" />
}

@*<div class="continer">
        <div style="text-align:center">
            <h1> به کارگزاری رسمی بیمه صنعت نفت خوش آمدید</h1>
            <h3>با استفاده از منوهای سمت راست نسبت به تکمیل اطلاعات خود و یا ویرایش آن اقدام نمایید.</h3>
        </div>
    </div>*@
<div class="continer">
    <div class="row">
        @foreach (var item in Model.Where(x => x.ShowInMenu && x.ParentId == null).OrderBy(x => x.OrderPriority).ToList())
        {
            @if (item.ControllerName == "MemberStatistic" && item.ActionName == "Index")
            {
                continue;
            }
        <div class="col-6 col-sm-6 menu-item">
            @{
                if (!string.IsNullOrWhiteSpace(item.StaticPath))
                {
                    <a class="menu-link" href="@item.StaticPath" target="_blank">
                        <figure>
                            @*<i class="@item.Icon"></i>*@
                            <img src="~/Images/Portal/@(item.Icon)" />
                            <figcaption>@item.Name</figcaption>
                        </figure>
                    </a>
                }
                else
                {
                    <a class="menu-link" href="@Url.Action(item.ActionName,item.ControllerName)">
                        <figure>
                            @*<i class="@item.Icon"></i>*@
                            <img src="~/Images/Portal/@(item.Icon)" />
                            <figcaption>@item.Name</figcaption>
                        </figure>
                    </a>
                }
            }
        </div>

        }
    </div>
</div>