@model User
@{
    Layout = null;
    var addMode = Model.UserId == Guid.Empty;
    int index = 1;
}
<div class="row">
    @Html.HiddenFor(x => x.UserId)
    <div class="col-12 col-sm-4">
        <custom-input-for for="Name" readonly="true" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="Family" readonly="true" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="FatherName" readonly="true"></custom-input-for>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-4">
        <custom-input-for for="NationalCode" readonly="true"></custom-input-for>
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="Email" class="form-control ltr-elm" readonly="true" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="MobileNumber" readonly="true" class="form-control ltr-elm" type="number" />
    </div>
</div>
<div class="row">

    <div class="col-12 col-sm-4">
        <custom-select-for for="BaseInsurance" readonly="true" class="form-control" items="EnumExtension.GetEnumElements<BaseInsuranceType>().Select(x=>new SelectListItem {
                                Text = x.Description,
                                Value = x.Name
                            }).ToList()" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="BirthDay" readonly="true" class="form-control pdate"></custom-input-for>
    </div>
    <div class="col-12 col-sm-4">
        <custom-checkbox-for wrapper-class="chb-group" for="IsActive" readonly="true" />
    </div>
</div>
@if (Model.Relatives != null)
{
    <h5>@Html.DisplayNameFor(x => x.Relatives)</h5>
    <div class="row">
        <div class="col-12">
            <table class="footable table table-stripped toggle-arrow-tiny">
                <thead>
                    <tr>
                        <th data-toggle="true">#</th>
                        <th>@Html.DisplayNameFor(x => x.Relatives[0].Fullname)</th>
                        <th>@Html.DisplayNameFor(x => x.Relatives[0].NationalCode)</th>
                        <th>@Html.DisplayNameFor(x => x.Relatives[0].RelativeType)</th>
                        <th data-hide="all">@Html.DisplayNameFor(x => x.Relatives[0].TakafolKind)</th>
                        <th data-hide="all">@Html.DisplayNameFor(x => x.Relatives[0].FatherName)</th>
                        <th data-hide="all">@Html.DisplayNameFor(x => x.Relatives[0].BirthDay)</th>
                        <th data-hide="all">@Html.DisplayNameFor(x => x.Relatives[0].InsertDateSh)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rel in Model.Relatives)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@rel.Fullname</td>
                            <td>@rel.NationalCode</td>
                            <td>@rel.RelativeType.GetDescription()</td>
                            <td>@rel.TakafolKind.GetDescription()</td>
                            <td>@rel.FatherName</td>
                            <td>@rel.BirthDay</td>
                            <td>@rel.InsertDateSh</td>
                        </tr>
                        index++;
                    }
                </tbody>
                <tfoot class="d-none">
                    <tr>
                        <td colspan="5">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

}
@{index = 1;}
@if (Model.Addresses != null)
{
    <h5>@Html.DisplayNameFor(x => x.Addresses)</h5>
    <hr />
    <div class="row">
        @foreach (var addr in Model.Addresses)
        {
            <div class="col-12 m-b">
                <p><span class="badge badge-info">@index</span><span class="copy-value" data-copy-value="@addr.FullAddress"></span> @addr.FullAddress</p>
            </div>
            index++;
        }
    </div>

}
@{index = 1;}
@if (Model.BankAccounts != null)
{
    <h5>@Html.DisplayNameFor(x => x.BankAccounts)</h5>
    <hr />
    <div class="row">
        @foreach (var acc in Model.BankAccounts)
        {
            <div class="col-12 m-b">
                <p><span class="badge badge-primary">@index</span> @acc.BankName.GetDescription()</p>
                <p>@Html.DisplayNameFor(x => x.BankAccounts[0].AccountNumber):<span class="copy-value" data-copy-value="@acc.AccountNumber"> @acc.AccountNumber</span></p>
                <p>@Html.DisplayNameFor(x => x.BankAccounts[0].Shaba):<span class="copy-value" data-copy-value="@acc.Shaba"> @acc.Shaba</span></p>
            </div>
            index++;
        }
    </div>
}