@model LossSearchFilter
@{
    Layout = null;
}
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="@nameof(Model.LossType)">@Html.DisplayNameFor(x => x.LossType)</label>
            <select class="form-control" id="@nameof(Model.LossType)" name="@nameof(Model.LossType)">
                <option value="">@Strings.SelectPlease</option>
                @foreach (var type in (List<LossDescriptionDTO>)ViewBag.Types)
                {
                    <option value="@type.Code">@type.Name_Fa</option>
                }
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="PatientName" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="LossDateShFrom" class="form-control pdate ltr-elm" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="LossDateShTo" class="form-control pdate ltr-elm" />
    </div>
</div>
