@model Response<InsuranceInformation>
@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = Strings.PreFactor;
}
@section styles{
    <link href="~/Styles/App/app.min.css" rel="stylesheet" />

    @*<link href="@Url.Content("~/Styles/App/LossAsset/uploader.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Styles/App/customize-template.min.css")" rel="stylesheet" />
    <style>
        .mb-15 {
            margin-bottom: 16px !important;
        }

        .list-group {
            list-style: none;
            padding-right: 0;
        }
    </style>
}
@{
    if (Model.IsSuccessful)
    {

        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>@Strings.PreFactor</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </a>
                            <a class="close-link">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-info" style="
                            width:100%;
                            padding-right: 15px;">
                            <p class="text">کاربر گرامی پیش فاکتور، نحوه محاسبه، و نحوه پرداخت اقساط بیمه نامه در جدول زیر نشان داده شده است.</p>
                            <br />
                            <br />
                            <p class="text">
                                بیمه عمر و حادثه  برای سرپرست خانوار و بصورت اجباری است و مبلغ آن در قسط اول همراه با بیمه درمان باید پرداخت گردد.
                            </p>
                            <ul>
                                <li style="padding-top:10px;"><a target="_blank" href="~/Files/Boronzi.jpeg">طرح برنزی = 1.920.000 تومان</a></li>
                                <li style="padding-top:10px;"><a target="_blank" href="~/Files/Noghrei.jpeg">طرح نقره ای = 2.520.000 تومان</a></li>
                                <li style="padding-top:10px;"><a target="_blank" href="~/Files/Talaei.jpeg">طرح طلایی = 4.320.000 تومان</a></li>
                            </ul>
                        </div>
                        <div class="row" style="text-align:center">
                            <br />
                            <br />
                            <h3 style="padding-right: 15px;">@Strings.PreFactor</h3>
                        </div>
                        <table class="table table-bordered mb-15">
                            <thead>
                                <tr>
                                    <th>طرح انتخابی</th>
                                    <th>مبلغ طرح(تومان)</th>
                                    <th>تعداد نفرات</th>
                                    <th>جمع کل</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Result.Details != null)
                                    {
                                        @foreach (var item in Model.Result.Details)
                                        {
                                            <tr>
                                                <td>@item.Plan</td>
                                                <td>@item.Price.ToString("N0")</td>
                                                <td>@item.Count</td>
                                                <td>@item.TotalPrice.ToString("N0")</td>
                                            </tr>
                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="3">جمع کل</td>
                                    <td>@Model.Result.Details.Sum(x => x.TotalPrice).ToString("N0")</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="w-100">نحوه محاسبه</h4>
                        <ul class="list-group w-100 mb-15">
                            <li>قسط اول: مبلغ / 3 + مبلغ بیمه عمر و حوادث (نقدی پرداخت می شود)</li>
                            <li>قسط دوم: مبلغ / 3</li>
                            <li>قسط سوم: مبلغ / 3</li>
                        </ul>
                        <h4 class="w-100">نحوه پرداخت</h4>
                        <p>
                            تعداد اقساط سه قسط می باشد.
                            <br />
                            <br />
                            قسط اول باید بصورت نقدی پرداخت شود و دو قسط بعدی بصورت چک در تاریخ های زیر :
                            <br />
                            <br />
                            قسط اول بعد از خرید بیمه نامه به مبلغ : @Model.Result.PaymentPart1.ToString("N0") تومان
                            <br />
                            <br />
                            قسط دوم در تاریخ: @Model.Result.PaymentPart2Date , مبلغ : @Model.Result.PaymentPart2.ToString("N0") تومان
                            <br />
                            <br />
                            قسط سوم در تاریخ: @Model.Result.PaymentPart3Date , مبلغ : @Model.Result.PaymentPart3.ToString("N0") تومان
                        </p>
                        <p>
                            <br />
                            <br />
                            <strong>
                                لطفاً مبلغ <span style="color:crimson">@Model.Result.PaymentPart1.ToString("N0")</span> تومان را به حساب بانک تجارت به نام صندوق تعاون و رفاه سازمان نظام دامپزشکی به شماره حساب 123551087 و یا شماره کارت 5859837008101624 و یا شماره شبای 560180000000000123551087 واریز نمایید.
                            </strong>
                        </p>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>

    }
}


@section scripts{
    <script>
        const config = {
            registerUrl: '@Url.Action("SignUp","Home")',
            uploadUrl:'@Url.Action("AddUserAttachments", "Home")'
        };
    </script>
    <script src="~/Scripts/Libs/loadover.js"></script>
    <script src="~/Scripts/App/common.js"></script>
    <script src="~/Scripts/App/plugins.js"></script>
    <script src="~/Scripts/App/Home/register.js"></script>

}
