@model User
@{
    ViewBag.Title = Strings.Profile;
}
@section styles{
    <link href="@Url.Content("~/Styles/App/customize-template.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Styles//App/attachment-management.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Styles/Libs//loadover.css")" rel="stylesheet" />
}
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@Strings.Profile</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <a class="close-link">
                        <i class="zmdi zmdi-close"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form role="form" asp-controller="User" asp-action="ProfileInfo" method="post">
                    @Html.HiddenFor(x => x.UserId)
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Email"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Name"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="Family"></custom-input-for>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="FatherName"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="NationalCode" class="form-control ltr-elm"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="IdentityNumber" class="form-control ltr-elm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-select-for for="BaseInsurance" items="EnumExtension.GetEnumElements<BaseInsuranceType>().Select(x=>new SelectListItem {
                                Text = x.Description,
                                Value = x.Description
                            }).ToList()" />
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="BirthDay" class="form-control pdate ltr-elm"></custom-input-for>
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for for="MobileNumber"></custom-input-for>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <custom-select-for for="Gender" class="form-control" items="EnumExtension.GetEnumElements<Gender>().Select(x=>new SelectListItem {
                                Text = x.Description,
                                Value = x.Name
                            }).ToList()" />
                        </div>
                        <div class="col-12 col-sm-4">
                            <custom-input-for type="password" for="NewPassword" class="form-control ltr-elm"></custom-input-for>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <partial name="~/Views/Shared/Partials/_AttachmentManagement.cshtml" model="new ManageAttachmentModel {
                             Types = new List<AttachmentType> {
                                 AttachmentType.IdentityCardPage1 ,
                                 AttachmentType.IdentityCardPage2,
                                 AttachmentType.NationalCard
                             },
                            Attachments=Model.UserAttachments==null?new List<BaseAttachment>(): new List<BaseAttachment>(Model.UserAttachments)
                         }" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary block m-b m-t btn-action btn-submit">
                                <span class="text">@Strings.Submit</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-floppy rotate-180 default-i"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/Libs/loadover.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/attachment-management.js")"></script>
    <script>
        const attachmanetConfig = {
            removeUrl: '@Url.Action("DeleteAttachment", "User")',
            uploadUrl:'@Url.Action("AddUserAttachments", "Home")'
        };
        $(document).ready(function () {
            $(document).on('click', '.btn-submit', function () {
                let $btn = $(this);
                let $frm = $btn.closest("form");
                if (!$frm.valid()) return;
                let model = customSerialize($frm);
                model.UserAttachmentIds = attachments.map(x=>x.id);
                console.log(model);
                ajaxBtn.inProgress($btn);
                $.post($frm.attr("action"), model)
                    .done(function (rep) {
                        ajaxBtn.normal();
                        if (rep.IsSuccessful) {
                            if (id === '0') {
                                attachments = [];
                            }
                            else showNotif(notifyType.success, '@Strings.Success');
                        }
                        else  showNotif(notifyType.danger, rep.Message);
                    })
                    .fail(function (e) {
                        ajaxBtn.normal();
                        console.log(e);
                        showNotif(notifyType.danger, '@Strings.Error');
                    });

            });
        });


    </script>
}